/*CSS reset settings here*/
*{
    margin: 0px;
    padding: 0px;
}
#wrapper{
    width: 950px;
    background-color: silver;
}

#content2 {
    display: flex;
    flex-wrap: wrap;
    background-color: palegreen;
    width: 98%;
    
}

#header{
    min-height: 150px;
    background-color: green; 
}

#navigation{
    height: 300px;
    width: 200px;  
    background-color: blue;


}
#main_content{
    min-height: 400px;
    width: 700px;
    background-color: red;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
   

}
.subcontents{
    min-height: 200px;
    width: 220px;
    background-color: yellow;
    margin: 5px;
}
#advertisement{
    min-height: 120px;
    width: 500px;
    background-color: purple;

  
}